/* Categories */

.categories__maincontainer {
    z-index: 100;
    padding: 0 0 97px;
    margin-bottom: 129px;
    background-color: #FFFFFF;
}

.categories__imgcontainer {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 130px;
}

.categories__img {
    background: url(../pictures/categories.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    height: 495px;
    display: flex;
    align-items: center;
}

.img__content {
    display: flex;
    align-items: center;
    list-style: none;
    flex-direction: column;
    box-sizing: border-box;
    padding-right: 590px;
}

.categories__header {
    font-size: 60px;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 1.2;
    margin: 0;
    padding-right: 130px;
}

.categories__header::after {
    content: ".";
    color: #e95a5a;
}

.categories__text {
    margin-top: 7px;
    color: #FFFFFF;
}

.flex-container {
    padding: 88px 0 100px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1170px;
    margin: 0 193px;
}

.sorter {
    position: relative;
}

.sorting_text {
    width: 160px;
    height: 30px;
    line-height: 32px;
    cursor: pointer;
    border: solid 2px #ececec;
    padding-left: 26px;
    padding-right: 19px;
    margin-right: 8px;
    font-size: 14px;
    font-weight: 400;
    color: #6c6a74;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.sorting_text i {
    line-height: 32px;
    cursor: pointer;
    color: #6c6a74;
    /* float: right; */
}

.sorting__list {
    cursor: pointer;
    margin: 0;
    padding: 0;
    list-style: none;
    box-shadow: 0 15px 25px rgba(63, 78, 100, 0.15);
    transition: all 0.3s ease;
    width: 209px;
    position: absolute;
    top: calc(100% + 20px);
    visibility: hidden;
    opacity: 0;
}

.sorting__list-item {
    padding: 0 15px;
    height: 36px;
    line-height: 36px;
    color: #6c6a74;
    text-align: right;
}

.sorting__list-item:not(:last-child) {
    border-bottom: solid 1px #dddddd;
}

.sorting__list-item:hover {
    color: #b5aec4;
}