/* Categories */
/* Kig i utility */

/*Category image (stort img) */
/* Kig i utility */

/*Sorting*/

.flex-container {
    padding: 88px 0 105px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1170px;
    margin: 0 193px;
}

.sorter {
    position: relative;
}

.sorting_text {
    width: 140px;
    height: 30px;
    line-height: 32px;
    cursor: pointer;
    border: solid 2px #ececec;
    padding-left: 26px;
    padding-right: 19px;
    margin-right: 30px;
    font-size: 14px;
    font-weight: 400;
    color: #6c6a74;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.sorting_text i{
    line-height: 32px;
    cursor: pointer;
    color: #6c6a74;
    float: right;
}

.sorting__list {
    cursor: pointer;
    margin: 0;
    padding: 0;
    list-style: none;
    box-shadow: 0 15px 25px rgba(63, 78, 100, 0.15);
    transition: all 0.3s ease;
    width: 189px;
    position: absolute;
    top: calc(100% + 20px);
    visibility: hidden;
    opacity: 0;
}

.sorting__list-item {
    height: 36px;
    line-height: 36px;
    color: #6c6a74;
    text-align: right;
}

/* .sorting__list-link{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 2.14;
    font-weight: 400;
    color: #6c6a74;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px; 
} */

.sorting__list-item {
    margin: 0 15px;
}

.sorting__list-item:not(:last-child) {
    border-bottom: solid 1px #dddddd;
}

.sorting__list-item:hover {
    color: #b5aec4;
}

/* Product */

/* Kig i utility */

/* Support section*/

.support__container {
    width: 1170px;
    display: flex;
    margin: 0 193px;
    padding: 99px 0;
    justify-content: space-between;
}

.support__section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.support__img {
    width: 75px;
    height: 75px;
}

.support__header {
    font-size: 18px;
    font-weight: 500;
    color: #1b1b1b;
    margin: 33px 0 0;
}

.support__text {
    font-size: 14px;
    line-height: 2.14;
    font-weight: 400;
    color: #6c6a74;
    text-align: center;
}

/*Support */
/* Kig i utility */

/* Subscribe button*/
/* Kig i utility */