/* Categories */

.categories__maincontainer {
    z-index: 100;
    padding: 0 0 97px;
    margin-bottom: 129px;
    background-color: #FFFFFF;
}

/*Category image*/
.categories__imgcontainer {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 130px;
}

.categories__img {
    background: url(../pictures/categories.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    height: 495px;
    display: flex;
    align-items: center;
}

.img__content {
    display: flex;
    align-items: center;
    list-style: none;
    flex-direction: column;
    box-sizing: border-box;
    padding-right: 590px;
}

.categories__header {
    font-size: 60px;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 1.2;
    margin: 0;
    padding-right: 130px;
}

.categories__header::after {
    content: ".";
    color: #e95a5a;
}

.categories__text {
    margin-top: 7px;
    color: #FFFFFF;
}

/*Sorting*/
.flex-container {
    padding: 88px 0 105px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1170px;
    margin: 0 193px;
}

.sorter {
    position: relative;
}

.sorting_text {
    width: 140px;
    height: 30px;
    line-height: 32px;
    cursor: pointer;
    border: solid 2px #ececec;
    padding-left: 26px;
    padding-right: 19px;
    margin-right: 30px;
    font-size: 14px;
    font-weight: 400;
    color: #6c6a74;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.sorting_text i {
    line-height: 32px;
    cursor: pointer;
    color: #6c6a74;
}

.sorting__list {
    cursor: pointer;
    margin: 0;
    padding: 0;
    list-style: none;
    box-shadow: 0 15px 25px rgba(63, 78, 100, 0.15);
    transition: all 0.3s ease;
    width: 189px;
    position: absolute;
    top: calc(100% + 20px);
    visibility: hidden;
    opacity: 0;
}

.sorting__list-item {
    height: 36px;
    line-height: 36px;
    color: #6c6a74;
    text-align: right;
}

/* .sorting__list-link{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 2.14;
    font-weight: 400;
    color: #6c6a74;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px; 
} */

.sorting__list-item{
    margin: 0 15px;

}

.sorting__list-item:not(:last-child) {
    border-bottom: solid 1px #dddddd;
}

.sorting__list-item:hover {
    color: #b5aec4;
}

/* Product */

.product__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 1170px;
    margin: 0 193px;
}

.product img{
    width: 262.5px;
}

.product__text{
    padding: 36px 0 38px;
}

.product__text a{
    font-size: 18px;
    font-weight: 500;
    color: #1b1b1b;
    line-height: 1.1;
}

.product__text p{
    margin: 13px 0 0;
    font-size: 16px;
    font-weight: 500;
    color: #6c6a74;
    line-height: 0.75;
}

.product__item1{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.product__item2{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.product__item3{
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.product__item4{
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.product__item5{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.product__item6{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.product__item7{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.product__item8{
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

.product__item9{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.product__item10{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.product__item11{
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.product__item12{
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}
